/* General ----------------------------------------------------------- */
html {
  background-color: rgb(30,30,30);
  color:rgb(30,30,30);
  margin:0;
  padding:0;
}
body {
  padding:0;
  margin:0;
}
/* Sections ---------------------------------------------------------- */
#partName {
  height: 700px;
  background-color: rgb(210,210,210);
  position: relative;
}
#partName h1{
  margin-top: 0px;
  padding-top: 15%;
  position: absolute;
  left:40.5%;
}
                /* Backblock --------------------------------------------------------- */
                .backBlock {
                  background-color: rgb(30,30,30);
                  width:100%;
                  height:100%;
                  position:absolute;
                  display: inline;
                  top:0;
                  z-index: 0;
                  }
#partDesigner{
  background-color: rgb(220,70,60);
}
#partDesigner h2{
  padding-top:10%;
  margin-right: 30%;
}
#partDesigner h1 {
  margin-top: 5px;
}
#crossLine {
  width: 20%;
}
#partPeopleOne {
  background-color: rgb(130,130,150);
  position: relative;
}
                #partPeopleOne h2 {
                    padding-top: 10%;
                }
                #partPeopleOne #appearOne {
                    padding-top: 0%;
                    margin-top: 0%;
                }
                #partPeopleOne .letter {
                    margin:0px;
                    padding: 0px;
                    display:inline;
                    position: absolute;
                }
/* Text -------------------------------------------------------------- */
html {
  font-family: "Vollkorn";
}
h1 {
  font-family: "Share Tech Mono";
  font-size: 38px;
  text-align: center;
  z-index: 10;
}
h2 {
  font-size: 30px;
  font-family: "Share Tech Mono";
  padding: 0px;
  margin:0px;
}
h3 {
  font-size: 14px;
  padding: 0px;
  margin:0px;
}
.colorGrey {
  color:rgb(210,210,210)
}
/* sections ---------------------------------------------------------- */
.sectionA {
    height: 400px;
    position: relative;
    text-align: center;
}
/* parrallax --------------------------------------------------------- */
#parrallax {
  height: 1900px;
}
